.movie-modal {
    width: 976px;
    max-height: 917px;
    height: 100%;
    background: rgba(35, 35, 35, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    overflow-y: scroll;

    .modal-close {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        margin-right: 30px;

        &__button {
            background: transparent;
            border: unset;
            padding: 0;
            cursor: pointer;
        }
    }

    .modal-body {
        padding: 10px 60px 60px;
        color: #ffffff;

        .modal-header {
            margin: 0;
            font-size: 40px;
            font-weight: 300;
            line-height: 48px;
            letter-spacing: 1px;
        }

        .modal-form {
            margin-top: 10px;

            &__row {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
            }

            &__input {
                display: flex;
                flex-direction: column;
                position: relative;

                &__select-box {
                    position: relative;
                }

                &__label {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0.9px;
                    color: #f65261;
                }

                &--textarea {
                    width: 100%;
                }

                &__item {
                    margin-top: 10px;
                    background-color: rgba(50, 50, 50, 0.948);
                    border-radius: 4px;
                    border: transparent;

                    &--big {
                        width: 525px;
                    }

                    &--small {
                        width: 301px;
                    }

                    &--big,
                    &--small {
                        height: 60px;
                    }

                    &::placeholder {
                        font-size: 20px;
                        padding-left: 20px;
                        color: #ffffff;
                        opacity: 0.3;
                    }
                }

                &__over-select {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }

                &__select-options {
                    display: flex;
                    flex-direction: column;
                    width: 525px;
                    height: 190px;
                    overflow: auto;
                    font-size: 20px;
                    line-height: 24px;
                    position: absolute;
                    top: 100%;
                    z-index: 1;
                    background-color: rgba(35, 35, 35, 0.92);
                }

                &__description {
                    height: 200px;
                }
            }

            &__buttons {
                display: flex;
                justify-content: flex-end;
                margin-top: 60px;

                .reset,
                .submit {
                    width: 180px;
                    height: 60px;
                    text-transform: uppercase;
                    border-radius: 4px;
                    font-size: 20px;
                    border: 1px solid #f65261;
                    cursor: pointer;
                }

                .reset {
                    margin-right: 10px;
                    background-color: #232323;
                    color: #f65261;
                }

                .submit {
                    background-color: #f65261;
                    color: #ffffff;
                }
            }
        }
    }
}
